/* Diseñado por Francisco M. Charris C. 2021 */

/* fuentes pastaComarrico */
@font-face {
    font-family: "URWApacheW01-Regular"; 
    src: url("https://db.onlinewebfonts.com/t/bb7e51b8e670bf5cd7ef3292bfcefb52.eot"); 
    src: url("https://db.onlinewebfonts.com/t/bb7e51b8e670bf5cd7ef3292bfcefb52.eot?#iefix") format("embedded-opentype"), 
    url("https://db.onlinewebfonts.com/t/bb7e51b8e670bf5cd7ef3292bfcefb52.woff2") format("woff2"), 
    url("https://db.onlinewebfonts.com/t/bb7e51b8e670bf5cd7ef3292bfcefb52.woff") format("woff"), 
    url("https://db.onlinewebfonts.com/t/bb7e51b8e670bf5cd7ef3292bfcefb52.ttf") format("truetype"); 
}

:root{
    --colorPrimario: #ed1027;
    --colorSecundario: #f7eb12;
    --colorTerciario:#007135;
    --fuenteComarrico: "URWApacheW01-Regular";
}

.titulo_pastasComarrico{
    -webkit-text-stroke: 2px #007135;
    color: white;
    font-family: var(--fuenteComarrico);
}

.texto_comarrico{
    color: var(--colorPrimario); 
    font-family: var(--fuenteComarrico);
    font-size:2.8rem;
}
html {
    font-size: 62.5% /*tamaño de la fuente*/; 
    box-sizing: border-box;
    /* scroll-snap-type: y mandatory;  */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/** Globales **/
img {
    max-width: 100%;
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

a{
    font-size: 1.6rem;
}
a:hover{
    text-decoration: none;
}

.navbar-nav{
    align-items: flex-end;
}
.navbar-brand{
    font-size: 1.8rem;
}
/* .fab{
    color: #e7e6e9!important;
} */

.fab,
.fas,
.far{
    font-size: 1.8rem;
}
.btn{
    font-size: 2rem;
}
.btn-lg{
    font-size: 2.5rem;
}

/* navbar */
.navbar{
    background-color: var(--colorPrimario);
}

.nav-item {
    margin-right: .3rem;
    transition: all .5s ease-in-out;
}

.nav-item:hover{
    transform: scale(1.1);
}

.nav-link {
    color: var(--colorSecundario);
    padding: 0 .7rem;
    font-weight: bold;  
    transition: all .3s ease-in-out;
    border-radius: .5rem;
}

.nav-link:hover{
    color: var(--colorPrimario);
    background-color: var(--colorSecundario);
}
/* para el navbar el fondo de la hambuergesa */
.hamburguesa_fondo {
    font-size: 1.8rem;
    background-color: var(--colorSecundario);
}

/* menu redondo para ergonomia */
@media (max-width: 768px) {
    .navbar-collapse {
        margin-left: -92.5rem;
        position: fixed;
        background: var(--colorPrimario);
        top: 5.6rem;
        left: 0;
        width: 90%;
        transition: all .3s ease-in-out;
        height: 100%;
    }
    .navbar-nav{
        align-items: flex-start;
    }

    ul.navbar-nav.ml-auto.menu-scale {
        height: 100%!important;
    }
    .nav-item{
        width: 100%;
        border-radius: 0;
        border-bottom: 1.7px solid var(--colorSecundario);
        background-color: var(--colorPrimario);
        height: 12%;
        padding: 3% 0;
    }

    .nav-item:last-of-type{
        background-color: var(--colorSecundario)!important;
    }

    .nav-link.list-inline .list-inline-item {
        padding: 0 1.5rem;
        color: var(--colorPrimario)!important;
    }
    .nav-link{
        color: var(--colorSecundario);
        margin-left: .5rem;
        padding: 1rem;
    }
    .redondo_ergonomico{
        display: block;
        width: 50px;
        position: fixed;
        bottom: 3rem;
        right: 1.6rem;
        background-color: var(--colorSecundario);
        text-align: center;
        padding: 10px 5px;
        border-radius: 50%;
        z-index: 2;
        border: .5px solid var(--colorPrimario);
    }
    .collapse:not(.show) {
        display: block;
    }
}
.malla_abajo{
    border-top: 1px solid var(--colorSecundario);
    width: 100%;
    display: block;
    /* height: .5rem; */
    margin-top: 5.6rem;
}
/* header vacano reutilizar desde aqui */
.header{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 9rem;
}

.img_logo{
    width: 4rem;
}

.linear_white::after{
    content: '';
    display: block;
    width: 100%;
    height: 1rem;
    background-color: white;
    position: absolute;
    left:0;
    bottom: 0;
    margin-bottom: -1px;
}
.vh-50{
    height: 41vmin;
}
@media (max-width: 768px) {
    .col-md-10.col-lg-6.text-white.text-capitalize {
        margin-top: -18rem;
    }
    .col-md-10.col-lg-6.text-white.text-capitalize h1{
        margin: 0;
    }
    .col-md-10.col-lg-6.text-white.text-capitalize p{
        font-size: 1.3rem;
    }
    .header{
        padding-top: 16rem;
    }
    .vh-50{
        height: 50vmin;
    }
}
/* fin header */

/* titulo del header */
.header_princial h1{
    font-family: var(--fuenteComarrico);
    -webkit-text-stroke: 3.1px var(--colorPrimario);
    color: var(--colorSecundario);
    font-size: 11rem;
    margin: 1rem 0 0 0;
}
.header_princial p{
    font-family: var(--fuenteComarrico);
    -webkit-text-stroke: 2px var(--colorTerciario);
    color: white;
    font-size: 4.15rem;
    margin-top: -2rem;
}
.header_princial a {
    border: 2px solid var(--colorSecundario);
    color: var(--colorSecundario);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    border-radius: 50px;
    background: var(--colorPrimario);
    font-weight: bold;
    font-size: -1rem;
    padding: 1rem .9rem;
}
.header_princial a:hover{
    color: var(--colorPrimario);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .header{
        padding-top: 0;
    }
    .header_princial h1 {
        font-family: var(--fuenteComarrico);
        color: var(--colorSecundario);
        margin: 1rem 0 0 0;
        -webkit-text-stroke: 1.5px var(--colorPrimario);
        font-size: 4rem;
    }
    .header_princial p {
        font-family: var(--fuenteComarrico);
        color: white;
        -webkit-text-stroke: .8px var(--colorTerciario);
        font-size: 1.5rem;
        margin-top: 0;
    }    
    .header_princial a{
        border: 2px solid var(--colorSecundario);
        color: var(--colorSecundario);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
        border-radius: 50px;
        background: var(--colorPrimario);
        font-weight: bold;
        font-size: .7rem;
        padding: .5rem .9rem;
    }
}

/* v2 prueba home */

.nosotros_v2{
    background-color: var(--colorSecundario);
    font-family: var(--fuenteComarrico);
}

p.nosotros_home{
    color: var(--colorPrimario);
    line-height: 2.1rem;
    font-size: 2.3rem;
}

/*css de kristopher*/
/* NOSOTROS */
.header .nosotros{
    -webkit-text-stroke: 2px #007135;
    font-family: var(--fuenteComarrico);
    font-size: 10rem;
    margin:0;
}
.header_nosotros{
    background-image: url(../img/3.jpg);
}

.site-section{
    background: url('../img/nosotros/desenfocada.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    font-family: var(--fuenteComarrico);
    
}
.caracteristicas{
    font-family: var(--fuenteComarrico);
    margin-bottom: 2rem;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.45);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.45);
    background-color:white;
    /* padding:0!important; */
    max-width:35.3rem;
}
.caracteristicas h3{
    font-size: 19px;
}
.caracteristicas p{
    font-size: 15px;
}
.caracteristicas:hover{
    transform: scale(1.1);
    z-index:5;
}
.caracteristicas img{
    padding: 10px;
    width: 10rem;
}


.site-section1{
 
    font-family: var(--fuenteComarrico);


}
.site-section1 h2{
    color: #415161;
}
.site-section1 p{
    color: #677481;
}

p.politica{
    color: rgba(0, 0, 0, .7);
    font-size: 1.9rem;
}
p.subtitulopolitica{
    color: rgba(0, 0, 0, .7);
}

.site-section2{
    background-image: url('../img/nosotros/banner3.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    font-family: var(--fuenteComarrico);

    
}


.principios-corporativos-item .number{
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    background: #f16821;
    color: #fff;
    line-height: 44px;
    font-weight: 300;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    margin-bottom: 40px;
}
.principios-corporativos-item p{
    font-size: 15px;
}
.principios-corporativos-item h2{
    font-size: 27px;
}
.informacion {
    background: #fff;
    padding: 20px;
    border: 1px solid #f8f9fa; }
    .informacion img {
      width: 80px;
      border-radius: 50%;
      margin-bottom: 30px;
      margin-top: -50px;
      -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.6); }
    .informacion blockquote {
      font-size: 19px;
      font-family: var(--fuenteComarrico);
      font-style: italic;
    }

    .informacion h2{
        color: #415161;
    }
    .informacion p{
        color: #677481;
    }
    .site-section5 .titulo-historia{
        color: #415161;
    }
    .site-section5 .texto-historia{
        color: #677481;
    }
    .site-sectionhistoria{
        background-position: center center;
        background-size: cover;
        position: relative;
    }
    .site-section7 .titulo-objetivos{
        color: #415161;
    } 
    /* estilos de los botones de continuar */
    .btnplay{
        font-size: 17px;
        font-size: 1.3rem;
        font-family: tahoma;
        font-weight: bold;
        padding: 20px 40px;
    }
    .btnplay{
        border: 2px solid var(--colorPrimario);
        color: var(--colorPrimario);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
        border-radius: 50px;
        background: #fff538;
        font-weight: bold;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
        
    }
    .btnplay .fa{
        margin-left: 20px;
    }

    .btnplay:hover, .btnplay:focus{
        background: #fff538;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    /* */

    .site-section4, .site-section2 {
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .site-section4.overlay, .site-section2.overlay{
        position: relative;
    }
    .site-section4.overlay:before, .site-section2.overlay:before{
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: "";
        position: absolute;

    }.site-section4 > .container, .site-section2 > .container{
        position: relative;
        z-index: 2;
    }.slide-item, .slide-item > .container > .row, .cover, .cover > .container > .row{
        height: 100vh;
        min-height: 760px; 
    }


    /* seccion css de objetivos */
    .collapse:not(.show) {
        display: none; 
    }
    
    .miacordion {
        margin: 0 auto;
        overflow: hidden;
    }     
    .miacordion .card,
    .miacordion .card:last-child .card-header {
        border: none;
        background: transparent; 
    }
    .miacordion .card-header {
        border: none;
        background: transparent; 
    }
    .miacordion .card-header p {
        position: relative;
        font-weight: bold;
        font-size: 18px;   
        text-align: left; 
        color: #415161;

    }     
    .miacordion .fa {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.3); 
    }
    .miacordion .btn {
    width: 100%;
    font-weight: 600;
    color: black;
    padding: 0;
    text-transform: capitalize;
    letter-spacing: 0;
    border-radius: 0 !important;
    margin-bottom: 10px;
    border-radius: 40px !important;
    -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
    -moz-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
    box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.8) !important; 
    }
    .miacordion .btn-link:hover,
    .miacordion .btn-link:focus {
        text-decoration: none; 
    } 
    .miacordion [data-toggle="collapse"] .fa:before {
        content: "\f078";
        font-family: "FontAwesome";
        font-style: normal; 
    }
      
    .miacordion [data-toggle="collapse"].collapsed .fa:before {
        content: "\f077";
        font-family: "FontAwesome";
        font-style: normal; 
        
    }
    
    .miacordion button[aria-expanded="true"] {
        background-color: #1ba12d;
        color: #fff !important;}
        .miacordion button[aria-expanded="true"] .fa {
            color: #fff !important;} 

    .miacordion button[aria-expanded="false"] {
        background-color: #fff; 
    }
    
    .miacordion .card-body ol li {
        margin-bottom: 10px;
        padding-left: 10px;
        color: #677481;
    }
    .miacordion .card-body ol li:last-child {
          margin-bottom: 0; 
    }
    

/* CALIDAD DE NUESTROS PRODUCTOS */
.calidad_producto{
    background-image: url('../img/calidad_productos_pastas_comarrico.jpg');
    background-position: center center;
    background-size: cover;
}

.calidad_producto_img{
    --tamaño: 8rem;
    width: var(--tamaño);
    height: var(--tamaño);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: .7rem .7rem .7rem rgba(0, 0, 0, .5);
    border: .3rem ridge white;
}

.transform-turn{
    transform: rotate(.5turn);
}

/* PRODUCTOS */
.productos{
    margin-bottom: 2rem;
    transition: all .3s ease-in-out;
}
.productos:hover{
    transform: scale(1.1);
}
.productos img{
    width: 20rem;
}

.link_nosotros {
    width: 54%;
    display: block;
    margin: 0 auto;
}
.texto_producto{
    color: var(--colorPrimario);
    font-family: var(--fuenteComarrico);
    font-size: 2rem;
}

/* FOOTER */

footer li{
    transition: all .3s ease-in-out;
}
footer li:hover{
    transform: scale(1.1);
}
.primer_footer{
    background-color: var(--colorSecundario);
    color: var(--colorPrimario); 
    font-family: URWApacheW01-Regular;
}

.primer_footer p{
    line-height: 2rem;
}

.col-md-3 .list-inline  li a i{
    color: var(--colorPrimario)!important;
}
.segundo_footer{
    background-color: var(--colorPrimario);
    color: var(--colorSecundario); 
    font-family: URWApacheW01-Regular;
}
.segundo_footer p{
    text-align:center;
    margin:0;
}